<div class="green-component">
  <ul>
    <li>This component is defined in the <strong>GreenModule.Web</strong> library.</li>
    <li>It calls a <strong>CoreWCF API</strong> defined in the <strong>GreenModule.ApiServices</strong> library.</li>
  </ul>
</div>