@inherits HtmxComponentBase<GettingStartedEndpoint.GettingStartedParameters>

<MainLayout Title="Documentation">
  <div class="bg-base-100 flex overflow-hidden rounded-lg" style="height: 82vh;">
    <div class="flex-none p-4">
      <GettingStartedNav activeIndex="@ActiveIndex"/>
    </div>
  
    <div class="grow pt-16 overflow-y-scroll">
      <GettingStartedContent />
    </div>
  </div>
</MainLayout>

@code
{
  [Parameter]
  public int ActiveIndex { get; set; } = 1;
}
