@inherits HtmxComponentBase<DashboardEndpoint.DashboardParameters>

<MainLayout>
  <DashboardTopBar/>
  <div>
    <canvas id="@_canvasId"></canvas>
  </div>
</MainLayout>

<script>
  const ctx = document.getElementById('@_canvasId');

  new Chart(ctx, {
    type: 'bar',
    data: {
      labels: ['Red', 'Blue', 'Yellow', 'Green', 'Purple', 'Orange'],
      datasets: [{
        label: '# of Votes',
        data: [12, 19, 3, 5, 2, 3],
        borderWidth: 1
      }]
    },
    options: {
      scales: {
        y: {
          beginAtZero: true
        }
      }
    }
  });
</script>

@code {
  
  private readonly string _canvasId = $"chart-{Guid.NewGuid()}";
  
}