<div class="blue-component">
  <ul>
    <li>This component is defined in the <strong>BlueModule.Web</strong> library.</li>
    <li>It calls a <strong>REST minimal API</strong> defined in the <strong>BlueModule.ApiServices</strong> library.</li>
  </ul>
</div>