@page "/weather"
@inject WeatherApiClient WeatherApi

<PageTitle>Weather</PageTitle>

<MudContainer Class="mt-4 px-8" MaxWidth="MaxWidth.False">
    <MudText Typo="Typo.h4">Weather</MudText>
    <MudText Typo="Typo.subtitle1" Class="mb-4">This component demonstrates showing data.</MudText>

    @if (forecasts == null)
    {
        <p><em>Loading...</em></p>
    }
    else
    {
        <MudDataGrid Items="forecasts">
            <Columns>
                <PropertyColumn Property="x => x.Date" Title="Date" />
                <PropertyColumn Property="x => x.TemperatureC" Title="Temp. (C)" />
                <PropertyColumn Property="x => x.TemperatureF" Title="Temp. (F)" />
                <PropertyColumn Property="x => x.Summary" Title="Summary" />
            </Columns>
        </MudDataGrid>
    }
</MudContainer>

@code {
    private WeatherForecast[]? forecasts;

    protected override async Task OnInitializedAsync()
    {
        forecasts = await WeatherApi.GetWeatherAsync();
    }
}
