<div class="red-component">
  <ul>
    <li>This component is defined in the <strong>RedModule.Web</strong> library.</li>
    <li>It calls a <strong>gRPC API</strong> defined in the <strong>RedModule.ApiServices</strong> library.</li>
  </ul>
</div>