@using BlueModule.Web.Components
@using GreenModule.Web.Components
@using RedModule.Web.Components
@using YellowModule.Web.Components
@page "/"

<PageTitle>Home</PageTitle>

<h1>Hello, user!</h1>

Welcome on MicroFrontend Demo!

<HelloBlue/>
<HelloGreen/>
<HelloRed/>
<HelloYellow/>
