<div class="yellow-component">
  <ul>
    <li>This component is defined in the <strong>YellowModule.Web</strong> library.</li>
    <li>It calls a <strong>graphQL API</strong> defined in the <strong>YellowModule.ApiServices</strong> library.</li>
  </ul>
</div>