<div class="navbar sticky top-0 bg-base-100  z-10 shadow-md ">

    @* Menu toogle for mobile view or small screen *@
    <div class="flex-1">
        <label htmlFor="left-sidebar-drawer" class="btn btn-primary drawer-button lg:hidden">
            <Bars3Icon class="h-5 inline-block w-5"/></label>
        <h1 class="text-2xl font-semibold ml-2">
            @pageTitle
        </h1>
    </div>

    <div class="flex-none ">

        @* Multiple theme selection, uncomment this if you want to enable multiple themes selection,  *@
        @* also includes corporate and retro themes in tailwind.config file *@
                
        <select class="select select-sm mr-4" data-choose-theme>
            <option disabled selected>Theme</option>
            <option value="light">Default</option>
            <option value="dark">Dark</option>
            <option value="corporate">Corporate</option>
            <option value="retro">Retro</option>
        </select>

        @* Light and dark theme selection toogle *@
        <label class="swap ">
            <input type="checkbox"/>
            @* <SunIcon data-set-theme="light" data-act-class="ACTIVECLASS" class={"fill-current w-6 h-6 "+(currentTheme === "dark" ? "swap-on" : "swap-off")}/> *@
            @* <MoonIcon data-set-theme="dark" data-act-class="ACTIVECLASS" class={"fill-current w-6 h-6 "+(currentTheme === "light" ? "swap-on" : "swap-off")} /> *@
        </label>

        @* Notification icon *@
        <button class="btn btn-ghost ml-4  btn-circle" @onClick="@OpenNotification">
            <div class="indicator">
                <BellIcon class="h-6 w-6"/>
                @if (noOfNotifications > 0)
                {
                    <span class="indicator-item badge badge-secondary badge-sm">
                        @noOfNotifications
                    </span>
                }
            </div>
        </button>

        @* Profile icon, opening menu on click *@
        <div class="dropdown dropdown-end ml-4">
            <label tabIndex={0} class="btn btn-ghost btn-circle avatar">
                <div class="w-10 rounded-full">
                    <img src="https://placeimg.com/80/80/people" alt="profile" />
                </div>
            </label>
            <ul tabIndex={0} class="menu menu-compact dropdown-content mt-3 p-2 shadow bg-base-100 rounded-box w-52">
                <li class="justify-between">
                    <NavLink href="@RouteProfileSettings">
                        Profile Settings
                        <span class="badge">New</span>
                    </NavLink>
                </li>
                <li class="">
                    <NavLink href="@RouteBills">
                        Bill History
                    </NavLink>
                </li>
                <div class="divider mt-0 mb-0"></div>
                <li><a @onClick="@LogoutUser">Logout</a></li>
            </ul>
        </div>
    </div>
</div>

@code {
    
    private string pageTitle = "Dashboard";
    private int noOfNotifications = 2;
  
    private void OpenNotification()
    {
        // Open notification panel
    }
    
    private void LogoutUser()
    {
        // Logout user
    }
    
}