<div class="drawer-side z-30">
    <label htmlFor="left-sidebar-drawer" class="drawer-overlay"></label> 
    <ul class="menu  pt-2 w-80 bg-base-100 min-h-full text-base-content">
    </ul>
</div>

@code {
  
}