<!DOCTYPE html>
<html lang="@Language" data-theme="@Theme">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <title>Demo HTMX Blazor</title>
  <script src="/lib/htmx.min.js"></script>
  <link href="/css/tailwind.css" rel="stylesheet">
</head>
<body>
<div class="drawer lg:drawer-open">
  <input id="left-sidebar-drawer" type="checkbox" class="drawer-toggle" />
  <PageContent>
    @ChildContent
  </PageContent>
  <LeftSidebar />
</div>
</body>
</html>

@code
{
  [Parameter]
  public string Language { get; set; } = "en";
  
  [Parameter]
  public string Theme { get; set; } = "light";

  [Parameter]
  public RenderFragment ChildContent { get; set; } = null!;
}



