@inherits HtmxComponentBase<AppEndpoint.AppParameters>

<MainLayout>
  <div class="hero min-h-screen bg-base-200">
    <div class="hero-content text-center">
      <div class="max-w-md">
        <h1 class="text-5xl font-bold">HTMX App Server</h1>
        <p class="py-6">This is a demo of HTMX with ASP.NET Core and Blazor</p>
        <button class="btn btn-primary">Get Started</button>
        <DocFeaturesNav/>
        <PageStats/>
        <ErrorBoundary>
          <AmountStats/>
          <DashboardStats/>
        </ErrorBoundary>
      </div>
    </div>
  </div>

  <main>
    <DocGettingStartedContent/>
    <h1>Renders Blazor components as HTMX tags</h1>
    <Counter/>
    <MovieCharacters/>
  </main>

  <footer>
    This architecture was brought to you by
    <a href="https://www.linkedin.com/in/phmatray/" target="_blank">
      Philippe Matray
    </a>
    from
    <a href="https://atypical.consulting" target="_blank">
      Atypical Consulting
    </a>
  </footer>
</MainLayout>
