@inherits HtmxComponentBase<AppEndpoint.AppParameters>

<!DOCTYPE html>
<html lang="@Parameters.Language" data-theme="@Parameters.Theme">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <title>Demo HTMX Blazor</title>
  <script src="lib/htmx.min.js"></script>
  <link href="css/tailwind.css" rel="stylesheet">
</head>
<body>

<div class="hero min-h-screen bg-base-200">
  <div class="hero-content text-center">
    <div class="max-w-md">
      <h1 class="text-5xl font-bold">HTMX App Server</h1>
      <p class="py-6">This is a demo of HTMX with ASP.NET Core and Blazor</p>
      <button class="btn btn-primary">Get Started</button>
    </div>
  </div>
</div>

<main>

  <h1>Renders Blazor components as HTMX tags</h1>
  <Counter/>
  <MovieCharacters/>
</main>

<footer>
  This architecture was brought to you by
  <a href="https://www.linkedin.com/in/phmatray/" target="_blank">
    Philippe Matray
  </a>
  from
  <a href="https://atypical.consulting" target="_blank">
    Atypical Consulting
  </a>
</footer>

</body>
</html>



